*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #2C7CF4;
    padding: 20px;
}

.logo-motz {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 5%;
}

.user {
    margin-right: 10%;
    margin-bottom: auto;
    margin-top: auto;
}
.hero{
    background-image: url(../img/Section.png);
    height: 500px;
    background-size: cover;
    background-position: center center;
}

.hero-content{
    display: flex;
    justify-content: center;
    color: #fff;
}

.hero-content h1{
    margin-top: 10%;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main{
    border-radius: 40px 40px 0 0;
    background: #2C7CF4;
}

.container{
    margin-top: -50px;
}

form{
    margin-top: -180px;
}

.enviar-btn{
    background-color: black;
    border: none;
    padding: 8px;
}

.enviar-btn:hover{
    background-color: rgba(0, 0, 0, 0.7)
}
